.contact-container {
    text-align: center;
    padding: 2rem;
  }
  
  .contact-container h1 {
    font-size: 2.5rem;
    color: #392d49;
  }
  
  .contact-container p {
    font-size: 1.25rem;
    color: #5abdbb;
  }
  