.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #5abdbb;
    padding: 1rem;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
  }
  
  .nav-links li {
    margin-left: 1.5rem;
  }
  
  .nav-links a {
    text-decoration: none;
    color: #003d55;
    font-weight: bold;
  }
  